@{
    ViewBag.Title = "Contact";
}
<div class="container formform">
    <h3>@Resources.Resource.Contacts</h3>
    <div class="form">
        <div class="row">
            <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                <div class="form_input">
                    @using ( Html.BeginForm( new { controller="Home", action="SendMailMessage"}) )
                    {
                        <label>@SnilAcademicDepartment.Resources.ContactsResources.ContactsResource.FullName</label>
                        <input name="FullName" class="entry" type="text" placeholder="e.g.  robert smith" required>
                        <br>
                        <label>@SnilAcademicDepartment.Resources.ContactsResources.ContactsResource.Email</label>
                        <input name="Email" class="entry" type="email" placeholder="e.g. name@nome.com" required>
                        <br>
                        <label>@SnilAcademicDepartment.Resources.ContactsResources.ContactsResource.Company</label>
                        <input name="Company" class="entry" type="text" placeholder="e.g. your company (optional)">
                        <br>
                        <label>@SnilAcademicDepartment.Resources.ContactsResources.ContactsResource.Subject</label>
                        <input name="Subject" class="entry" type="text" placeholder="e.g. info" required>
                        <br>
                        <label>@SnilAcademicDepartment.Resources.ContactsResources.ContactsResource.Message</label>
                        <textarea name="Message" class="usertext" placeholder="Input message..." required></textarea>
                        <br>
                        <input class="btn btn-default bottom_send_form" type="submit" name="submit" value="Send"/>
                    }
                </div>
            </div>

            <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                <div class="form_address">
                    <h3>@SnilAcademicDepartment.Resources.ContactsResources.ContactsResource.AddressString</h3>
                    <div class="plase">
                        <p>
                            @SnilAcademicDepartment.Resources.ContactsResources.ContactsResource.Address
                        </p>
                    </div>
                    <p class="text">
                        <strong>@SnilAcademicDepartment.Resources.ContactsResources.ContactsResource.Secretary</strong> <br/>
                           @SnilAcademicDepartment.Resources.ContactsResources.ContactsResource.NinaRudenko<br />
                           @SnilAcademicDepartment.Resources.ContactsResources.ContactsResource.NinaRudenkoMail<br/>
                    </p>
                    <p class="text">
                        <strong>@SnilAcademicDepartment.Resources.ContactsResources.ContactsResource.Head</strong> <br />
                        @SnilAcademicDepartment.Resources.ContactsResources.ContactsResource.VictorSkakun<br />
                        @SnilAcademicDepartment.Resources.ContactsResources.ContactsResource.VictorSkakunMail<br />
                    </p>
                    <div class="call"><i class="fa fa-phone fa-3" aria-hidden="true" style="float:left"></i> @Resources.Resource.PhoneNumber</div>
                    @*<div class="mail"><i class="fa fa-envelope" aria-hidden="true"></i> @Resources.Resource.MailAddress</div>*@
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="map"><iframe src="https://www.google.com/maps/embed?pb=!1m24!1m12!1m3!1d5598.701798814265!2d27.476724235794606!3d53.84350177002365!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m9!3e6!4m3!3m2!1d53.8490568!2d27.4743256!4m3!3m2!1d53.8399034!2d27.476647699999997!5e0!3m2!1sru!2sby!4v1492944929291" width="100%" height="700" frameborder="0" style="border:0" allowfullscreen></iframe></div>
</div>