@using SnilAcademicDepartment.BusinessLogic.DTOModels;
@using System.Linq;
@{
    @Styles.Render("~/Content/educationcss")
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <ol class="breadcrumb">
        <li>
            @Html.ActionLink(Resources.Resource.Home, "Index", "Home")
        </li>
        <li>
            @Html.ActionLink(Resources.Resource.Education, "Education", "Education")
        </li>
        <li class="active">@ViewBag.EducationResourseTitle</li>
    </ol>
</div>

<div class="container">
    <div class="row rowcurrent">
        @{

            if (ViewBag.Components is IEnumerable<IGrouping<int, SeminarPreview>>)
            {
                foreach (IGrouping<int, SeminarPreview> group in ViewBag.Components)
                {
                    <h2>@ViewBag.EducationResourseTitle @group.Key</h2><br>
                    <div class="row">
                        @foreach (var item in group)
                        {
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 block">
                                <h3>@item.Title</h3><br>
                                <p>
                                    @item.Topic <br />
                                    <br /><strong>@Resources.EducationResources.EducationResource.SeminarSpeaker: </strong><br />@string.Join(",", item.SpeakersProfessionStatusAndFullNames)
                                </p>
                                @Html.ActionLink(Resources.Resource.Download, "GetFileById", new { controller = "File", action = "GetFileById", id = item.DocumentId })
                            </div>
                        }
                    </div>

                }
            }else
            if (ViewBag.Components is IEnumerable<LecturePreview>)
            {
                <h2>@ViewBag.EducationResourseTitle </h2><br>
                <div class="row">
                    @foreach (LecturePreview component in ViewBag.Components)
                    {
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 block">
                        <h3>@component.LectureTitle</h3><br>
                        <p>
                            @component.Specialisation<br />
                            <br /><strong>@Resources.EducationResources.EducationResource.LectureSpeaker: </strong><br />@component.Author
                        </p>
                        @Html.ActionLink(Resources.Resource.Download, "GetFileById", new { controller = "File", action = "GetFileById", id = component.DocumentId })
                    </div>
                    }
                </div>
            }else
            if (ViewBag.Components is EducationBlockModel)
            {
                <p style="text-align: center; text-shadow:10px 12px 2px #808080; margin-top: 150px; margin-bottom: 150px"><strong>Sorry, this education block is not avaliable :(</strong></p> 
            }
            else
            {
                <p style="text-align: center; text-shadow:10px 12px 2px #808080"><strong>Sorry, this education block is not avaliable :(</strong></p> 
            }
        }
    </div>
</div>
