
@{
    @Styles.Render("~/Content/education")
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <ol class="breadcrumb">
        <li>
            @Html.ActionLink(Resources.Resource.Home, "Index", "Home")
        </li>
        <li>
            @Html.ActionLink(Resources.Resource.Education, "Education", "Education")
        </li>
        <li class="active">@ViewBag.EducationResourseTitle</li>
    </ol>
</div>

<div class="container">
    <h2>@ViewBag.EducationResourseTitle</h2><br>
    <div class="row row1">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <img src="@Url.Action("GetImage", new {controller = "Image", id = 1})" alt="" />
        </div>
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            @ViewBag.ViewModel.Description;
        </div>
    </div>
    @{
        if (ViewBag.Components > 3)
        {

        }
        else
        {
            <div class="row rowcurrent">
                @foreach(var item in ViewBag.Components)
                {
                    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 block">
                        <h2>@item.Header</h2><br>
                        <a href="../files/downloadFile.rtf">
                            <img src="@Url.Action("GetImage", new {controller = "Image", id = 1})" alt="@item.Header" />
                        </a>
                        <p>@item.ShortDescription</p>
                    </div>
                }
                
            </div>
        }
    }

    @*<div class="row rowcurrent">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 block">
            <h2>Course of lectures by Dr. Mikalai Yatskou</h2><br>
            <a href="../files/downloadFile.rtf"><img src="~/img/BSU3.jpg" alt=""></a>
            <p>Course of lectures by Dr. Mikalai Yatskou</p>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 block">
            <h2>Course of lectures by Dr. Victor Skakun</h2><br>
            <a href="../files/downloadFile.rtf"><img src="~/img/BSU3.jpg" alt=""></a>
            <p>Gene Expression of Secondary Messengers and Replicates. <br/><strong>Speaker:</strong> Natalia Chehovich (PhD student)</p>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 block">
            <h2>Course of lectures by Anatoly Digris</h2><br>
            <a href="../files/downloadFile.rtf"><img src="~/img/BSU3.jpg" alt=""></a>
            <p>Genomic and Molecular Genetic Directions in the Area of Infectology. <br/><strong>Speaker:</strong> Acad. Prof. Dr. Leonid Titov</p>
        </div>
    </div>
    <div class="row rowcurrent">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 block">
            <h2>Course of lectures by Vladimir Lutkovski</h2><br>
            <a href="../files/downloadFile.rtf"><img src="~/img/BSU3.jpg" alt=""></a>
            <p>Artificial Neural Network Modification of Simulation-Based Fitting: Application to a Protein-Lipid System. <strong>Speaker:</strong> Petr Nazarov (PhD student)</p>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 block">
            <h2>Course of lectures by Pavel Korjukou</h2><br>
            <a href="../files/downloadFile.rtf"><img src="~/img/BSU3.jpg" alt=""></a>
            <p>Software GeneExpressionAnalyser for analysis of DNA microarrays. <br /><strong>Speaker:</strong> Saechnikov Anton (PhD student)</p>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 block">
            <h2>Course of lectures by Dr. Stanislau Hileuski</h2><br>
            <a href="../files/downloadFile.rtf"><img src="~/img/BSU3.jpg" alt=""></a>
            <p>An algorithm for Automated Segmenting the Cancer Cell Borders in the Three-Channel Fluorescence Images. <br /><strong>Speaker:</strong> Lisistsa E.V., Skakun V.V.</p>
        </div>
    </div>*@
</div>