@{
    @Styles.Render("~/Content/educationcss")
    var base64 = Convert.ToBase64String(ViewBag.viewModel.Image);
    var imgSrc = String.Format("data:image/jpeg;base64,{0}", base64);
}
<div class="container">
    <ol class="breadcrumb">
        <li>
            @Html.ActionLink(Resources.Resource.Home, "Index", "Home")
        </li>
        <li class="active">@Resources.Resource.Education</li>
    </ol>
</div>
<div class="container">
    <h2>@Resources.Resource.Education</h2><br>
    <div class="row row1">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <img src="@imgSrc" alt="">
        </div>
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            @ViewBag.viewModel.Description;
        </div>
    </div>
    <h2>@Resources.EducationResources.EducationResource.KeyDirections</h2><br>
    @{
        foreach (var educationBlockModel in ViewBag.blockModel)
        {
            var base64Block = Convert.ToBase64String(educationBlockModel.Image);
            var imgSrcBlock = String.Format("data:image/jpeg;base64,{0}", base64Block);

            <div class="row row2">
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                    <a href="#"><img src="@imgSrcBlock" alt=""></a>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                    <h4>@educationBlockModel.Title</h4>
                    <p>
                        @educationBlockModel.Description
                    </p>
                    @switch (educationBlockModel.ActionId)
                    {
                        case 1:<p>@Html.ActionLink(Resources.Resource.LearnMore, "PageSeminars", "Education")</p>
                            break;

                        case 2: <p>@Html.ActionLink(Resources.Resource.LearnMore, "PageLectures", "Education")</p>
                            break;

                        default: <p>@Html.ActionLink(Resources.Resource.LearnMore, "PageQuickLearning", "Education")</p>
                            break;
                    }

                </div>
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 row3">
                    <ul>
                        @foreach (string topic in educationBlockModel.Topics)
                            {<li>@topic</li>}
                    </ul>
                </div>
            </div>
        }
                    }
</div>
