@using SnilAcademicDepartment.BusinessLogic.DTOModels;
@using SnilAcademicDepartment.Resources.PersonsResources;
@{
	ViewBag.Title = "SpmaPersonalPage";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/personalpagestylecss")
<div class="container">
	<ol class="breadcrumb">
		<li>
			@Html.ActionLink(Resources.Resource.Home, "Index", "Home")
		</li>
		<li>
			@Html.ActionLink(Resources.Resource.ParticipantsSPMA, "ParticipantsPage", "ParticipantsSPMA")
		</li>
		@if (ViewData.Model is SpmaPerson)
		{
			SpmaPerson person = ViewData.Model;
			<li class="active">@string.Join(", ", person.SecoundName, person.PersonName)</li>
		}
	</ol>
</div>
<div class="container spma-person">
	@{
		string imgSrc = null;
	}
	@if (ViewData.Model is SpmaPerson)
	{
		SpmaPerson person = ViewData.Model;
		imgSrc = Url.Action("GetImage", new { controller = "Image", id = person.ImageId });

		<h2>@String.Join(", ", person.Degree, $"{person.SecoundName} {person.PersonName}")</h2><br>
		<div class="row row1">
			<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3" style="text-align: -webkit-center;">
				<img src="@imgSrc" alt="@String.Join(" ", person.SecoundName, person.PersonName)" title="@String.Concat(person.SecoundName," ",person.PersonName)">
				<ul>
					<li><strong>@PersonsResource.Degree:</strong> <span>@person.Degree</span> </li>
					<li><strong>@PersonsResource.AcademicTitle:</strong> <span>@person.AcademicTitle</span> </li>
					<li><strong>@PersonsResource.ProfessionStatus:</strong> <span>@person.ProfessionStatus</span> </li>
				</ul>
			</div>
			<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
				<p>@person.Biography</p>
				<ul>
					<li><strong>@PersonsResource.AssignmentDate:</strong> @person.AssignmentDate.ToShortDateString()</li>
					@if (person.ReleaseDate != null)
					{
						<li><strong>@PersonsResource.ReleaseDate:</strong> @person.ReleaseDate.ToShortDateString()</li>
					}
				</ul>
			</div>
		</div>
	}
</div>