@using SnilAcademicDepartment.BusinessLogic.DTOModels;
@using SnilAcademicDepartment.Resources.PersonsResources;
@{
	ViewBag.Title = Resources.Resource.Persons;
	@Styles.Render("~/Content/peoplecss");
}
<div class="container">
	<ol class="breadcrumb">
		<li>
			@Html.ActionLink(Resources.Resource.Home, "Index", "Home")
		</li>
		<li class="active">@Resources.Resource.Persons</li>
	</ol>
</div>
<div class="container">
	<div class="row HallofFame">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			@{
				var leaders = ViewData["leaders"] as IList<Leader>;
				if (leaders != null && leaders.Count > 0)
				{
					<div class="wrapper">
						@foreach (Leader person in leaders)
						{
							var imgSrc = Url.Action("GetImage", new { controller = "Image", id = person.ImageId });
							var personPageUrl = Url.RouteUrl(new { action = "PersonalPage", controller = "Persons", id = person.Id });
							<a href="@personPageUrl">
								<img src="@imgSrc" alt="@person.FullName" title="@person.FullName">
							</a>
						}
						<h2>@PersonsResource.HallFame</h2>
						<p>@PersonsResource.HallFameDescription</p>
					</div>
				}
			}
		</div>
	</div>
	<div class="container subpage">
		@{
			var majorStaff = ViewData["majorStaff"] as IList<Pedagogue>;
			if (majorStaff != null && majorStaff.Count > 0)
			{
				<h2>@PersonsResource.AcademicStaff</h2>
				@RenderPersonPreviewRow(majorStaff)
			}

			var secondaryStaff = ViewData["secondaryStaff"] as IList<Pedagogue>;
			if (secondaryStaff != null && secondaryStaff.Count > 0)
			{
				<h2>@PersonsResource.AcademicSupportStaff</h2>
				@RenderPersonPreviewRow(secondaryStaff)
			}
		}
	</div>
</div>

@helper RenderPersonPreviewRow(IEnumerable<Pedagogue> pedagogues)
{
	foreach(var pedagogue in pedagogues)
	{
		var imgSrcBlock = Url.Action("GetImage", new { controller = "Image", id = pedagogue.ImageId });
		var personPageUrl = Url.RouteUrl(new { action = "PersonalPage", controller = "DepartmentStaff", id = pedagogue.Id });

		<div class="row row-student well department-person">
			<h4>@string.Format("{0} {1} {2}", pedagogue.PersonName, pedagogue.SecoundName, pedagogue.FathersName)</h4>
			<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
				<a href="@personPageUrl">
					<img src="@imgSrcBlock" alt="@string.Format("{0} {1}",pedagogue.PersonName, pedagogue.SecoundName)" title="@string.Format("{0} {1}",pedagogue.PersonName, pedagogue.SecoundName)">
				</a>
			</div>
			<div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
				<ul>
					<li><strong>@PersonsResource.Degree:</strong>  <span>@pedagogue.Degree</span> </li>
					<li><strong>@PersonsResource.AcademicTitle:</strong> <span>@pedagogue.AcademicTitle</span> </li>
					<li><strong>@PersonsResource.ProfessionStatus:</strong> <span>@pedagogue.ProfessionStatus</span> </li>
					<li><strong>@PersonsResource.EmailAddress:</strong>  <span>@pedagogue.EmailAddress</span> </li>
				</ul>
			</div>
		</div>
	}
}
