<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/indexcss")
    @Styles.Render("~/bundles/font-awesome")
    <script src="~/Scripts/jquery-3.3.1.js"></script>
</head>
<body>
    <div class=header>
        <div class="container">
            @Html.ActionLink("_", "Index", new { controller = "Home" }, new { @class = "logo" })
            <div class="dropdown" style="float:right;">
                <button class="dropbtn"></button>
                <div class="dropdown-content">
                    @Html.ActionLink("Русский", "ChangeCulture", new { controller = "Cookies", lang = "ru" })
                    @Html.ActionLink("English", "ChangeCulture", new { controller = "Cookies", lang = "en" })
                    @Html.ActionLink("Deutsch", "ChangeCulture", new { controller = "Cookies", lang = "de" })
                </div>
            </div>
        </div>
    </div>
    <div class="nav">
        <div class="container">            
            <h2>@Resources.Resource.IndexHeader</h2>          
            @Html.ActionLink(Resources.Resource.Home, "Index", "Home")        
            @Html.ActionLink(Resources.Resource.Projects, "Projects", "Projects")                
            @Html.ActionLink(Resources.Resource.Education, "Education", "Education")            
            @Html.ActionLink(Resources.Resource.Persons, "Persons", "Persons")          
            @Html.ActionLink(Resources.Resource.History, "History", "History")        
            @Html.ActionLink(Resources.Resource.Contacts, "Contact", "Home")
        </div>
    </div>    
    <div class="content">
        @RenderBody()        
    </div>
    <div class="clr"></div>
    <footer>
        <div class="container">
            <p>
                @Resources.Resource.FooterCopyright<br />
                @Resources.Resource.Address<br />
                @Resources.Resource.PhoneNumber @Resources.Resource.FaxNumber. Url: <a href="http://bsu.by" target="_blank"> www.bsu.by</a>.
            </p>
        </div>
    </footer>
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>