<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/index")
    @Styles.Render("~/bundles/font-awesome")
</head>
<body>
    <div class=header>
        <div class="container">
            <a href="#" class="logo"></a>
            @using (Html.BeginForm("ChangeCulture", "Home"))
            {
                <select class="lang" name="lang">
                    <option disabled selected>@Resources.Resource.CultureName</option>
                    <option value="ru">Русский</option>
                    <option value="en">English</option>
                    <option value="de">Deutsch</option>
                </select>
                <input class="signin btn btn-default" type="submit" name="submit" value="@Resources.Resource.ChooseLang">
            }
        </div>
    </div>
    <div class="nav">
        <div class="container">            
            <h2>BSU SNIL</h2>          
            @Html.ActionLink(Resources.Resource.Home, "Index", "Home")        
            @Html.ActionLink(Resources.Resource.Projects, "Projects", "Projects")                
            @Html.ActionLink(Resources.Resource.Education, "Education", "Education")            
            @Html.ActionLink(Resources.Resource.Persons, "Persons", "Persons")          
            @Html.ActionLink(Resources.Resource.History, "History", "History")        
            @Html.ActionLink(Resources.Resource.Contacts, "Contact", "Home")
        </div>
    </div>    
    <div class="content">
        @RenderBody()        
    </div>
    <div class="clr"></div>
    <footer>
        <div class="container">
            <p>
                @Resources.Resource.FooterCopyright<br />
                @Resources.Resource.Address<br />
                @Resources.Resource.PhoneNumber @Resources.Resource.FaxNumber. Url: <a href="http://bsu.by" target="_blank"> www.bsu.by</a>.
            </p>
        </div>
    </footer>
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>