@using SnilAcademicDepartment.BusinessLogic.DTOModels;
@using SnilAcademicDepartment.Resources.PersonsResources;
@{
	@Styles.Render("~/Content/peoplecss")
}
<div class="container">
	<ol class="breadcrumb">
		<li>
			@Html.ActionLink(Resources.Resource.Home, "Index", "Home")
		</li>
		<li>
			@Html.ActionLink(Resources.Resource.Persons, "Persons", "Persons")
		</li>
		<li class="active">@PersonsResource.Students</li>
	</ol>
</div>
<div class="container subpage">
	<h2>@PersonsResource.Students</h2><br>
	@{
		foreach (var student in ViewData["Students"] as IList<PersonVM>)
		{
			var base64Block = Convert.ToBase64String(student.Image);
			var imgSrcBlock = String.Format("data:image/jpeg;base64,{0}", base64Block);
			var personPageUrl = Url.RouteUrl(new { action = "PersonalPage", controller = "Persons", id = student.Id });

			<div class="row row-student well">
				<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
					<a href="@personPageUrl">
						<img src="@imgSrcBlock" alt="@string.Format("{0} {1}",student.PersonName, student.SecoundName)" title="@string.Format("{0} {1}",student.PersonName, student.SecoundName)">
					</a>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<h4>@string.Format("{0} {1} {2}", student.PersonName, student.SecoundName, student.FathersName)</h4>
					<div class="container">
						@{
							if (student.Projects.Count() > 0)
							{
								@UlStringList(student.Projects, "Projects");
							}
							if (student.Seminars.Count() > 0)
							{
								@UlStringList(student.Seminars, "Seminars");
							}
							if (student.Lectures.Count() > 0)
							{
								@UlStringList(student.Lectures, "Lectures");
							}
						}
					</div>
				</div>
				<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 row3">
					<ul>
						<li><strong>@PersonsResource.Degree:</strong>  <span>@student.Degree</span> </li>
						<li><strong>@PersonsResource.AcademicTitle:</strong> <span>@student.AcademicTitle</span> </li>
						<li><strong>@PersonsResource.ProfessionStatus:</strong> <span>@student.ProfessionStatus</span> </li>
					</ul>
				</div>
			</div>
		}
	}
</div>

@helper UlStringList(IEnumerable<string> collection, string title)
{
	<div>
		<strong>@title:</strong>
		<ul>
			@foreach (var item in collection)
			{
				<li>@item</li>
			}
		</ul>
	</div>
}

