@using SnilAcademicDepartment.BusinessLogic.DTOModels;
@{
	Styles.Render("~/Content/personalpagecss");

	Layout = "~/Views/Shared/_Layout.cshtml";
	PersonVM person = ViewData.Model;

	var base64 = Convert.ToBase64String(person.Image);
	var imgSrc = String.Format("data:image/jpeg;base64,{0}", base64);
}
<div class="container">
	<ol class="breadcrumb">
		<li>
			@Html.ActionLink(Resources.Resource.Home, "Index", "Home")
		</li>
		<li>
			@Html.ActionLink(Resources.Resource.Persons, "Persons", "Persons")
		</li>
		<li class="active">@string.Format("{0}, {1}", person.SecoundName, person.PersonName)</li>
	</ol>
</div>
<div class="container">
	<h2>@String.Join(", ", person.Degree, $"{person.SecoundName} {person.PersonName}")</h2><br>
	<div class="row row1">
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
			<img src="@imgSrc" alt="@String.Join(" ", person.SecoundName, person.PersonName)" title="@String.Concat(person.SecoundName," ",person.PersonName)">
		</div>
		<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
			@person.Biography
		</div>
	</div>
</div>
