@using SnilAcademicDepartment.BusinessLogic.DTOModels;
@using SnilAcademicDepartment.Resources.PersonsResources;
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	@Styles.Render("~/Content/peoplecss");
}
<div class="container">
	<ol class="breadcrumb">
		<li>
			@Html.ActionLink(Resources.Resource.Home, "Index", "Home")
		</li>
		<li>
			@Html.ActionLink(Resources.Resource.Persons, "Persons", "Persons")
		</li>
		<li class="active">@PersonsResource.Professors</li>
	</ol>
</div>
<div class="container subpage">
	<h2>@PersonsResource.Professors</h2><br>
	@{
		foreach (var professor in ViewData["Professors"] as IList<Professor>)
		{
			var base64Block = Convert.ToBase64String(professor.Image);
			var imgSrcBlock = String.Format("data:image/jpeg;base64,{0}", base64Block);
			var personPageUrl = Url.RouteUrl(new { action = "PersonalPage", controller = "Persons", id = professor.Id });

			<div class="row row-student well">
				<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
					<a href="@personPageUrl">
						<img src="@imgSrcBlock" alt="@string.Format("{0} {1}",professor.PersonName, professor.SecoundName)" title="@string.Format("{0} {1}",professor.PersonName, professor.SecoundName)">
					</a>
				</div>
				<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
					<h4>@string.Format("{0} {1} {2}", professor.PersonName, professor.SecoundName, professor.FathersName)</h4>
					<div class="container">
						@{
							if (professor.Projects.Count() > 0)
							{
								@UlStringList(professor.Projects, "Projects");
							}
							if (professor.Seminars.Count() > 0)
							{
								@UlStringList(professor.Seminars, "Seminars");
							}
							if (professor.Lectures.Count() > 0)
							{
								@UlStringList(professor.Lectures, "Lectures");
							}
						}
					</div>
				</div>
				<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 row3">
					<ul>
						<li><strong>Degree:</strong>  <span>@professor.ProfessionStatus</span> </li>
						<li><strong>Academic title:</strong> <span>@professor.ProfessionStatus</span> </li>
						<li><strong>Profession status:</strong> <span>@professor.ProfessionStatus</span> </li>
					</ul>
					<ul>
						<li><strong>Email address:</strong>  <span>@professor.EmailAddress</span> </li>
						<li><strong>Phone number:</strong> <span>@professor.PhoneNumber</span> </li>
					</ul>
				</div>
			</div>
		}
	}
</div>

@helper UlStringList(IEnumerable<string> collection, string title)
{
	<div>
		<strong>@title:</strong>
		<ul>
			@foreach (var item in collection)
			{
				<li>@item</li>
			}
		</ul>
	</div>
}
