@using SnilAcademicDepartment.Resources.HistoryResources;
@{
    @Styles.Render("~/Content/historycss")
    ViewBag.Title = Resources.Resource.History;
}
<div class="container">
    <ol class="breadcrumb">
        <li>
            @Html.ActionLink(Resources.Resource.Home, "Index", "Home")
        </li>
        <li class="active">@Resources.Resource.History</li>
    </ol>
</div>
<div class="container">
    <div class="row row1">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <img src="../img/SPMATeam.JPG" alt="History">
        </div>
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <h2>@HistoryResource.History</h2>
            @Html.Raw(HistoryResource.HistoryBody)
            @Html.ActionLink(Resources.Resource.LearnMore, "PageHistory", "History")
        </div>
    </div>
    <div class="row row2">
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <h2>@HistoryResource.IEEE</h2>
            @Html.Raw(HistoryResource.IEEEBody)
            @Html.ActionLink(Resources.Resource.LearnMore, "PageIEEE", "History")
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <img src="../img/IEEEonSPMA.JPG" alt="IEEE">
        </div>
    </div>
    <div class="row row1">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <img src="../img/ITEDS2010Common.JPG" alt="ITEDS2010">
        </div>
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <h2>@HistoryResource.ConfITEDS2010</h2>
            @Html.Raw(HistoryResource.ConfITEDS2010Body)
            @Html.ActionLink(Resources.Resource.LearnMore, "PageITEDS2010", "History")
        </div>
    </div>
    <div class="row row2">
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <h2>@HistoryResource.ConfCTDA2020</h2>
            @Html.Raw(HistoryResource.ConfCTDA2020Body)
            @Html.ActionLink(Resources.Resource.LearnMore, "PageCTDA2020", "History")
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <img src="../img/CTDA2020.jpg" alt="CTDA2020">
        </div>
    </div>
</div>
