@using SnilAcademicDepartment.Resources.HistoryResources;
@{
    ViewBag.Title = "IEEE";
    @Styles.Render("~/Content/historycss")
}
<div class="container">
    <ol class="breadcrumb">
        <li>
            @Html.ActionLink(Resources.Resource.Home, "Index", "Home")
        </li>
        <li>
            @Html.ActionLink(Resources.Resource.History, "History", "History")
        </li>
        <li class="active">IEEE</li>
    </ol>
</div>
<div class="container">
    <h3>@HistoryResource.IEEE</h3>
    @Html.Raw(HistoryResource.IEEEHistory)
</div>
